.govuk-comms-plugin__notification {
    visibility: hidden;
    position: fixed;
    transition: transform $govukCommsPluginTransitionDuration/2 ease-in-out,opacity $govukCommsPluginTransitionDuration ease-in-out, top $govukCommsPluginTransitionDuration ease-in-out, bottom $govukCommsPluginTransitionDuration ease-in-out, right $govukCommsPluginTransitionDuration ease-in-out, left $govukCommsPluginTransitionDuration ease-in-out;
    background: var(--govuk-body-background-colour, #fff);

    &--show {
        visibility: visible;
        z-index: 9999;
    }
}