#phone-mockup {
  width: $phoneWidth;
  background: url($govuk-comms-assets + 'images/phone-alert.png') no-repeat;
  background-size: cover;
  height: $phoneHeight;
  transition: all 1.5s;
  animation: shake 5s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);

  &:hover {
    cursor: pointer;
  }
}

#phoneBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  bottom: -100%;
  //opacity: 0;
  transition-timing-function: ease-in-out;
  //transition: opacity 1s;
  transition: all 1s 0.5s;
  overflow: hidden;

  &.active {
    bottom: 0;
    opacity: 1;
  }

  #phone-mockup {
    top: -100%;
    margin-top: - ($phoneHeight / 2);
    right: 50%;
    margin-right: -($phoneWidth / 2);
    position: absolute;

    &.active {
      top: 50%;
    }
  }
}

#phoneAccessCode {
  #phone-mockup {
    background: url($govuk-comms-assets + '/images/phone-alert-access-code.png') no-repeat;
    background-size: cover;
    right: -50%;
    top: 50%;
    margin-top: - ($phoneHeight / 2);
    position: absolute;

    &.active {
      right: 50px;
    }
  }
}