$govuk-comms-assets: '/plugin-assets/%40benwatsonuk%2Fgovuk-communications-plugin/dist/assets/';
$govuk-comms-images: $govuk-comms-assets + 'images/';

$govukCommsPluginTransitionDuration: 1.5s;
// Phone items
$govukCommsPluginPhoneWidth: 250px;
$govukCommsPluginPhoneHeight: 510px;

// Email items
$govukCommsPluginEmailAlertWidth: 400px;
$govukCommsPluginEmailAlertHeight: 100px;

// Letter items

// Time