{% macro govukCommsPluginNotificationEmail(params) %}
  
{% if params.style === "apple" or params.style === "apple--dark" %}
  
<!-- Single Light Mode Apple Style Notification -->
  <div class="govuk-comms-plugin__notification__style--apple rounded-3xl items-center backdrop-blur-lg shadow-md ">
    <!-- Main Notification Content with Subtle Layer Effect -->
    <div class="px-3 py-3 items-center flex space-x-1 govuk-comms-plugin__notification__container rounded-3xl ">
      <!-- App Icon -->
      <div class="govuk-comms-plugin__notification__icon w-12 h-12 flex items-center justify-center mr-3">
          
      </div>
      <!-- Notification Content -->
      <div class="flex-1">
        <div class="flex justify-between items-center">
          <h2 class="text-sm font-semibold my-0">{{params.sender or "Sender Name"}}</h2>
          <span class="text-xs {% if params.style === 'apple--dark' %}text-white{% else %}text-black/40{% endif %}">Now</span>
        </div>
        <div class="text-sm font-semibold">{{params.heading or "Email recieved"}}</div>
        <div class="govuk-comms-plugin__notification__body">
          <p class="text-gray-600 text-sm my-0">{{params.message or "This is an alert"}}</p>
        </div>
      </div>
    </div>
  </div>

    {% else %}

    <!-- Single GOV.UK Style Notification -->
    <div class="govuk-comms-plugin__notification__container">
      <div class="govuk-comms-plugin__notification__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 88.86"><title>email</title><path d="M7.05,0H115.83a7.07,7.07,0,0,1,7,7.05V81.81a7,7,0,0,1-1.22,4,2.78,2.78,0,0,1-.66,1,2.62,2.62,0,0,1-.66.46,7,7,0,0,1-4.51,1.65H7.05a7.07,7.07,0,0,1-7-7V7.05A7.07,7.07,0,0,1,7.05,0Zm-.3,78.84L43.53,40.62,6.75,9.54v69.3ZM49.07,45.39,9.77,83.45h103L75.22,45.39l-11,9.21h0a2.7,2.7,0,0,1-3.45,0L49.07,45.39Zm31.6-4.84,35.46,38.6V9.2L80.67,40.55ZM10.21,5.41,62.39,47.7,112.27,5.41Z"/></svg>
      </div>
      <div class="govuk-comms-plugin__notification__content">
        <div class="govuk-comms-plugin__notification__header">
              <h2 class="text-sm font-semibold text-black">{{params.heading or "Email alert!"}}</h2>
              <span class="text-xs text-black/40">Now</span>
        </div>
        <div class="govuk-comms-plugin__notification__body">
            <p class="text-gray-600 text-sm">{{params.message or "This is an alert"}}</p>
        </div>
        <div class="govuk-comms-plugin__notification__sender">
            <p class="text-xs">{{params.sender or "Sender Name"}}</p>
        </div>
      </div>
    </div>
    
    {% endif %}

{% endmacro %}
